<!--
  Author:    Sebastian Ramirez
  Partner:   Noah Carlson
  Date:      Sept 27, 2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Noah Carlson, Sebastian Ramirez - This work may not be copied for use in Academic Coursework.
  I, Sebastian Ramirez and Noah Carlson, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.
  File Contents
     This file contains the HTML for the index home page
-->

@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <div class="row ">
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold">TA Application</h1>
                    <p class="col-lg-8 fs-4">
                        Teaching Assistants and Mentees make a huge difference in the lives of students. Many of you are here applying to TA because you were inspired by a past TA. Maybe next year a student will choose to "pay it forward" because of your efforts.
                    </p>
                    <a class="btn btn-lg bg-danger btn-primary" asp-area="" asp-controller="Applications" asp-action="Create">Start</a>
                </div>
                <div class="col-lg-6" id="ta-app-img">
                    <img class="img-fluid" src="~/teachingAssistants.jpg" />
                </div>
            </div>

        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-lg-6">
            <div class="h-100 p-5 text-white bg-danger rounded-3">
                <div class="container">
                    <div class="row">
                        <div class="col center">
                            <div id="TA-winner">
                                <h2 id="TA-of-the-year-header">TA of The Year!</h2>
                                <h3 id="TA-winner-name">Jenny Pronto</h3>
                                <p id="TA-winner-description">This is her 20th year in a row of winning TA of the year!</p>
                                <button class="btn btn-outline-light" type="button" id="TA-description-button">Learn More</button>
                            </div>
                        </div>
                        <div class="col">
                            <img class="img-fluid" src="~/TA_winner.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="h-100 p-5 bg-danger text-white border rounded-3">
                <div class="row">
                    <div class="col center">
                        <div id="FAQ-box">
                            <h2>FAQ</h2>
                            <p id="TA-FAQ-description">Becoming a TA can prompt a lot of questions, Mary Kate Cologna answers some common questions in the link below.</p>
                            <button class="btn btn-outline-light" type="button">Learn More</button>
                        </div>
                    </div>
                    <div class="col">
                        <img class="img-fluid" src="~/TA-FAQ.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
        © 2022
    </footer>
</div>
