/*
Author:    Noah Carlson
Partner:   Sebastian Ramirez
Date:      Oct 22, 2022
Course:    CS 4540, University of Utah, School of Computing
Copyright: CS 4540 and Noah Carlson and Sebastian Ramirez - This work may not be copied for use in Academic Coursework.
I, Noah Carlson and Sebastian Ramirez, certify that I wrote this code from scratch and did not copy it in part or whole from
another source. Any references used in the completion of the assignment are cited in my README file.

File Contents

CSS styling for the Course list (Index) page which is a part of the TA Application website. Adds the styles to Courses/Index.cshtml.
*/

tr:hover {
    background-color: none;
}

.btn {
    text-align: center;
}

table {
    
    width: 100%;
}

.ellipsis {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}