@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Data
@inject RoleManager<IdentityRole> rm
@inject UserManager<TAUser> um

<h1>User Role Manager</h1>

<table id="user-roles-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Unid</th>
            <th>Applicant</th>
            <th>Professor</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in um.Users.OrderBy((o => o.Name)).ToArray())
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Unid</td>
                <td>
                    @if(um.IsInRoleAsync(user,"Applicant").Result)
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"  checked>
                        </div>
                    }
                    else
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    }
                </td>
                <td>
                    @if(um.IsInRoleAsync(user,"Professor").Result)
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        </div>
                    }
                    else
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    }
                </td>
                <td>
                    @if(um.IsInRoleAsync(user,"Admin").Result)
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        </div>
                    }
                    else
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
