@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Data
@inject RoleManager<IdentityRole> rm
@inject UserManager<TAUser> um

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<h1>User Role Manager</h1>

<table id="UserRoles" class="display table table-striped cell-border compact stripe">
    <thead>
        <tr>
            <th>Name</th>
            <th>Unid</th>
            <th>Applicant</th>
            <th>Professor</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in um.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Unid</td>
                <td>
                    @if(um.IsInRoleAsync(user,"Applicant").Result)
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"  checked>
                        </div>
                    }
                    else
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    }
                </td>
                <td>
                    @if(um.IsInRoleAsync(user,"Professor").Result)
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        </div>
                    }
                    else
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    }
                </td>
                <td>
                    @if(um.IsInRoleAsync(user,"Admin").Result)
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        </div>
                    }
                    else
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
    $('#UserRoles').DataTable({
        order: [[0, "desc"]],
    });
});
</script>