/*
  Author:    Sebastian Ramirez
  Partner:   Noah Carlson
  Date:      Sept 27, 2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Noah Carlson, Sebastian Ramirez - This work may not be copied for use in Academic Coursework.
 
  I, Sebastian Ramirez and Noah Carlson, certify that I wrote this code from scratch and did not copy it in part or whole from 
  another source.  Any references used in the completion of the assignment are cited in my README file.
 
  File Contents
 
     This file contains styling for elements found in layout.cshtml which are common elements between all webpages.
*/

.navcolor {
    background-color: #372C2C;
}

.red {
    background-color: orangered;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center-row{
    text-align: center;
}

.space {
    margin: 10px;
}

#acc-dropdown {
    margin-right: 50px
}

#BlockU-Nav {
    height: 30px;
    width: 30px;
}

#ta-app-img {
    margin-top: 5%;
    margin-bottom: 5%
}

#page-image {
    width: 100%;
    height: 100%;
}

#TA-winner-name {
    text-decoration: underline;
}

.prompt-label {
    text-align: left;
    padding-top: 7px;
    margin-left: auto;
    margin-right: auto;
}

.data-field-col {
    padding-right: 10%;
}


.page-title-wrapper {
    text-align:center;
}

.row{
    padding-top: 10px;
    padding-bottom: 10px;
}

.submit-button-centered{
    text-align: center;
}

.form-container{
    max-width:800px;
}

.text-red{
    color: red;
}

.padding{
    padding: 10px;
}


.red-table-header {
    text-align: center;
}

.red-table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.red-table-header-row {
    background-color: #c00;
}

.red-table-link {
    color: black;
}
.red-table-link:hover {
    color: red;
}

.red-table-data {
    width: 14%;
}

.red-header-data {
    padding: 0;
    color: white;
}

table {
    border-collapse: collapse;
}

.dark-mode {
    background-color: #545454;
    color: #ECECEC;
}