<!--
  Author:    Noah Carlson
  Partner:   Sebastian Ramirez
  Date:      Sept 8, 2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Noah Carlson and Sebastian Ramirez - This work may not be copied for use in Academic Coursework.
  I, Noah Carlson and Sebastian Ramirez, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.
  File Contents
    Contains the navbar html code which is inserted in every pages header tag.
-->
@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Data
@using TAApplication.Data
@using Microsoft.EntityFrameworkCore
@inject SignInManager<TAUser> SignInManager
@inject UserManager<TAUser> UserManager
@inject ApplicationDbContext _context



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Noah Carlson, Sebastian Ramirez" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/popper.js/1.16.1/" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TAApplication.styles.css" asp-append-version="true" />
    <meta name="keywords" content="TA, TA CS Utah, U of U TA, Teaching Assistant, TA application" />
    <title>@ViewData["Title"] - TAApplication</title>

</head>
<body class=@ViewData["BackgroundColor"]>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark navcolor" aria-label="Third navbar example">
            <div class="container-fluid">
                <img src="~/BlockUNav.png" id="BlockU-Nav" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse show" id="navbarsExample03" style="">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("Applicant"))
                            {
                                var userID = UserManager.GetUserId(User);
                                var query = from a in _context.Applications.Include("TAUser")
                                            where userID == a.TAUser.Id
                                            select a;


                                @if (query.Count() == 0)
                                {
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="Create">Apply</a>
                                    </li>

                                }
                                else
                                {
                                    var dic = new Dictionary<string, string> { { "id", UserManager.GetUserAsync(User).Result.Id } };
                                    <li>
                                        <a class="nav-link" asp-controller="Applications" asp-action="Details" asp-all-route-data="dic">Application Details</a>
                                    </li>
                                }
                                <li>
                                    <a class="nav-link" asp-controller="Availabilities" asp-action="Index">Availability</a>
                                </li>

                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="List">View Applications</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="Index">Applications Overview</a>
                                </li>

                                <li>
                                    <a class="nav-link" asp-controller="Courses" asp-action="Index">Courses</a>
                                </li>
                            }
                            @if (User.IsInRole("Professor"))
                            {
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="List">View Applications</a>
                                </li>

                                <li>
                                    <a class="nav-link" asp-controller="Courses" asp-action="Index">Courses</a>
                                </li>
                            }

                        }
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown" id="TA-Dropdown">
                                <a class="nav-link dropdown-toggle" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false" role="button">TA</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                    <li class="dropdown-item-text">
                                        @((await UserManager.GetUserAsync(User)).Name)
                                    </li>
                                    <li>
                                        <ul class="dropdown-item-text">
                                            <li>
                                                <a class="dropdown-item remove-bullet" asp-controller="Admin" asp-action="EnrollmentTrends">Enrollment Trends View</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="dropdown-item-text">
                                            PS6
                                            <li>
                                                @{
                                                    var cID2 = new Dictionary<string, string> { { "id", "1" } };
                                                }
                                                <a class="dropdown-item remove-bullet" asp-controller="Courses" asp-action="Edit" asp-all-route-data="cID2">Edit Course: CS1400</a>
                                            </li>
                                            <li>
                                                @{
                                                    var cID = new Dictionary<string, string> { { "id", "1" } };
                                                }
                                                <a class="dropdown-item remove-bullet" asp-controller="Courses" asp-action="Details" asp-all-route-data="cID">Details Course: CS1400</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item remove-bullet" asp-controller="Courses" asp-action="Index">Courses List</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item remove-bullet" asp-controller="Courses" asp-action="Create">Create Course</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="dropdown-item-text">
                                            PS5

                                            <li>
                                                <a class="dropdown-item remove-bullet" asp-controller="Applications" asp-action="Index">Application Index</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item remove-bullet" asp-controller="Applications" asp-action="List">Application List</a>
                                            </li>
                                            <li>
                                                @{
                                                    var u0ID = new Dictionary<string, string> { { "id", (await UserManager.FindByEmailAsync("u0000000@utah.edu")).Id } };
                                                }
                                                <a class="dropdown-item remove-bullet" asp-controller="Applications" asp-action="Details" asp-all-route-data="u0ID">Application for u0000000</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="dropdown-item-text">
                                            Admin
                                            <li>
                                                <a class="dropdown-item remove-bullet" asp-controller="Admin" asp-action="Index">User Roles</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="dropdown-item-text">
                                            PS8

                                            <li>
                                                <a class="dropdown-item remove-bullet" asp-controller="Availabilities" asp-action="Index">TA Availability</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="dropdown-item-text">
                                            OLD
                                            <li>
                                                <a class="dropdown-item remove-bullet" asp-area="OLD" asp-controller="OLD" asp-action="ApplicationDetails">OLD Application Details</a>

                                            </li>
                                            <li>
                                                <a class="dropdown-item remove-bullet" asp-area="OLD" asp-controller="OLD" asp-action="ApplicationCreate">OLD Application Create</a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item remove-bullet" asp-area="OLD" asp-controller="OLD" asp-action="ApplicantList">OLD Applicant List</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown" id="TA-Dropdown">
                                <a class="nav-link dropdown-toggle" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false" role="button">TA</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                    <li class="dropdown-item-text">
                                        Sign in to see this dropdown
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TAApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
