<!--
  Author:    Sebastian Ramirez
  Partner:   Noah Carlson
  Date:      9/27/2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and [Your Name(s)] - This work may not be copied for use in Academic Coursework.

  I, Sebastian Ramirez, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents
     This contains common login html to be injected into the nav bar varies based on login status
-->


@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Data
@inject SignInManager<TAUser> SignInManager
@inject UserManager<TAUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <div class="nav-item dropdown" id="acc-dropdown">
            <a class="nav-link dropdown-toggle text-white" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false" asp-area="Identity" asp-page="/Account/Manage/Index">Hello @UserManager.GetUserAsync(User).Result.Unid (@UserManager.GetRolesAsync(UserManager.GetUserAsync(User).Result).Result.FirstOrDefault())!</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                <li><a class="dropdown-item" href="#">Manage your account</a></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Sign out</a></li>
            </ul>
        </div>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
