@model TAApplication.Models.Application

@{
    ViewData["Title"] = "Create";
}

<div id="Application-page-title-wrapper">
    <h1 id="Application-page-title">TA Application</h1>
    <hr />
    <h4 id="application-description" class="text-muted">Please fill out the application and click submit when finished.</h4>
</div>
<form asp-action="Create">
    <div id="application-container" class="container">
        <div class="row">
            <div class="col-lg-3 prompt-label">
                <label asp-for="DegreePursuing" class="control-label"></label>
            </div>
            <div class="col-lg-6 data-field-col ">
                <select asp-for="DegreePursuing" asp-items="@Html.GetEnumSelectList<DegreePursuing>()" class="form-control"></select>
                <span asp-validation-for="DegreePursuing" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 prompt-label">
                <label asp-for="Department" class="control-label"></label>
            </div>
            <div class="col-lg-6 data-field-col">
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 prompt-label">
                <label asp-for="GPA" class="control-label"></label>
            </div>
            <div class="col-lg-6 data-field-col">
                <input asp-for="GPA" class="form-control" />
                <span asp-validation-for="GPA" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 prompt-label">
                <label asp-for="DesiredHours" class="control-label"></label>
            </div>
            <div class="col-lg-6 data-field-col">
                <input asp-for="DesiredHours" class="form-control" />
                <span asp-validation-for="DesiredHours" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 prompt-label">
                @Html.DisplayNameFor(model => model.AvailableBeforeSemester)
            </div>
            <div class="col-lg-6 data-field-col">
                <input class="form-check-input" asp-for="AvailableBeforeSemester" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 prompt-label">
                <label asp-for="SemestersCompleted" class="control-label"></label>
            </div>
            <div class="col-lg-6 data-field-col">
                <input asp-for="SemestersCompleted" class="form-control" />
                <span asp-validation-for="SemestersCompleted" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 prompt-label">
                <label asp-for="PersonalStatement" class="control-label"></label>
            </div>
            <div class="col-lg-6 data-field-col">
                <textarea asp-for="PersonalStatement" class="form-control"></textarea>
                <span asp-validation-for="PersonalStatement" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 prompt-label">
                <label asp-for="TransferSchool" class="control-label"></label>
            </div>
            <div class="col-lg-6 data-field-col">
                <input asp-for="TransferSchool" class="form-control" />
                <span asp-validation-for="TransferSchool" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 prompt-label">
                <label asp-for="LinkedIn" class="control-label"></label>
            </div>
            <div class="col-lg-6 data-field-col">
                <input asp-for="LinkedIn" class="form-control" />
                <span asp-validation-for="LinkedIn" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 prompt-label">
                <label asp-for="ResumeName" class="control-label"></label>
                
            </div>
            <div class="col-lg-6 data-field-col">
                <input asp-for="ResumeName" class="form-control" />
                <span asp-validation-for="ResumeName" class="text-danger"></span>
            </div>
        </div>
        
    <div class="form-group submit-button-centered">
        <button type="submit" class="btn btn-danger btn-md" id="application-submit-button" data-bs-toggle="tooltip" data-bs-placement="bottom">Submit</button>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
