<!--
  Author:    Sebastian Ramirez
  Partner:   Noah Carlson
  Date:      10/8/2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and [Your Name(s)] - This work may not be copied for use in Academic Coursework.

  I, Sebastian Ramirez, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     This file serves as the home page for applications which shows application stats
-->

@model IEnumerable<TAApplication.Models.Application>

@{
    ViewData["Title"] = "Applicants Overview";
}

<h1 class="center">TA Applicants Overview</h1>

<div class="row">
    <div class="col-sm-6" id="Info-label">
        <h2 id="hiring-stats-header">
            Hiring Statistics
        </h2>
        <table>
            <tr>
                <td>Students Applied:</td>
                <td class="Applicant-overview-data">@Model.Count()</td>
            </tr>
            <tr>
                <td>Average Gpa of Applicants:</td>
                <td class="Applicant-overview-data">0</td>
            </tr>
            <tr>
                <td>Number of Unhired TA's:</td>
                <td class="Applicant-overview-data">@Model.Count()</td>
            </tr>
            <tr>
                <td>Number of Hired TA's:</td>
                <td class="Applicant-overview-data">0</td>
            </tr>
        </table>

    </div>
    <div class="col-sm-6" id="Info-image">
        <img id="stats-chart" src="~/Sample_Pie_Chart.png" alt="Pie Chart of Statistics" />
    </div>
</div>





